{% extends "base.html" %} {% block content %}


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">Char-CNN</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">BERT_Model</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="jumbotron shadow-lg">
            <h1 class="display-4">Political Inclination</h1>
            <p class="lead">The project is motivated by the desire to gauge political inclination of the general public
                and we
                try to address this issue for the political parties. </p>
            <hr class="my-4">

            <form class="upload-file" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-10">
                        <input type="text" class="form-control form-control-lg" placeholder="Enter Message"
                            id="input-msg" name="fname">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-custom btn-lg form-control"
                            id="btn-predict">Predict</button>
                    </div>
                </div>
            </form>
            <div class="loader" style="display:none;"></div>

            <ul class="list-group">
            </ul>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="jumbotron">
            <h1 class="display-4">Political Inclination</h1>
            <p class="lead">The project is motivated by the desire to gauge political inclination of the general public
                and we
                try to address this issue for the political parties. </p>
            <hr class="my-4">

            <form class="upload-file" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-10">
                        <input type="text" class="form-control form-control-lg" placeholder="Enter Message"
                            id="input-msg" name="fname">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-custom btn-lg form-control"
                            id="btn-predict">Predict</button>
                    </div>
                </div>
            </form>
            <div class="loader" style="display:none;"></div>

            <ul class="list-group">
            </ul>
        </div>

    </div>
</div>

{% endblock %}